@model OAuthTutorial.Models.OAuth.OAuthClient

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OAuthClient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientSecret)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientSecret)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
